.header-container{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: white;
    align-items: center;
    position: fixed;
    box-shadow: -1px 16px 15px -17px rgba(0,0,0,0.47);
}


.logo-img{
    width: 205px;
    height: 90px;
    cursor: pointer;
}
.help-logo{
    width: 100px;
    margin-top: 15px;
    cursor: pointer;
}
.certificate-logo{
    width: 100px;
    margin-top: 6px;
    cursor: pointer;
}
.certificate-name{
    text-align: center;
    margin-top: -20px;
}

.header-names{
    font-size: 2rem;
    color: black;
}

.header-button{
    background-color: rgb(47,64,80);
    border: none;
    color: white;

}
.header-button:hover{
    cursor: pointer;
    color: blueviolet;
    background-color: rgb(47, 45, 44);
}


.navigation{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: #fff;
    /* box-shadow: 0 25px 35px rgba(0,0,0,0.1); */
    display: flex;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
}
.navigation.active{
    width: 275px;
    height: 195px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}
.navigation .userbox{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s;
} 
.navigation.active .userbox{
    width: calc(100% - 60px);
    transition-delay: 0s;
}
.navigation .userbox .username{
    white-space: nowrap;
}
.navigation .userbox .imgbox{
    position: relative;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    background: #000;
    border-radius: 50%;
    border: 10px solid #fff;
}
.navigation .userbox .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation .menutoggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation .menutoggle::before{
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow:0 10px #555;
    transition: 0.5s;
}
.navigation .menutoggle::after{
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;
}
.navigation.active .menutoggle::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}
.navigation.active .menutoggle::after{
    transform: translateY(0px) rotate(-45deg);
}

.menu{
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 62px;
    margin-left: -416px;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.menu li{
    list-style: none;
    font-size: 30px;
}
.menu li:hover{
    color: blue;
}
.header-certificate{
    display: none;
}
.header-help{
    display: none;
}

@media only screen and (max-width: 1000px){
    .header-names{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 850px){
    .header-names{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 768px){
    .certificate-logo{
        display: none;
    }
    .certificate-name{
        display: none;
    }
    .header-certificate{
        display: block;
    }
    .navigation.active{ 
        height: 235px;
    }
}
@media only screen and (max-width: 600px){
    .header-names{
        font-size: 1rem;
    }
    .help-logo{
       display: none;
    }
    .help-name{
        display: none;
    }
    .header-help{
        display: block;
    }
    .navigation.active{ 
        height: 280px;
    }
}
@media only screen and (max-width: 450px){
    .header-names{
        font-size: 0.7rem;
    }
    .logo-img{
        width: 155px;
        height: 75px;
    }
}
@media only screen and (max-width: 350px){
    .menu{ 
        margin-left: -300px;
    }
}