.log-sign-body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;

    background: url(background.jpg);
    background-size: cover;
}

.login-name{
    text-align: center;
}

.log-sign-btn{
    width: 100%;
}

.box {
    /* border: 1px solid #dfdfdf; */
    /* background-color: #fff; */
    background-color: rgb(101, 101, 104);
    padding:1.5rem!important;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.col{
    text-align: center;
}
.login-logo {
    width: 110px;
    border-radius: 50%;
    height: 110px;
    margin-bottom: 18px;
}

.g-btn {
    width: 100% !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
}

.sign-select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: white;
}

.g-btn>div,
.g-btn>div>svg {
    width: 40px !important;
    height: 38px !important;
}

/* for hide control button in number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
