.log-sign-body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
}

.log-sign-btn{
    width: 100%;
}

.box {
    border: 1px solid #dfdfdf;
    background-color: #fff;
    padding:1.5rem!important
}

.g-btn {
    width: 100% !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
}

.g-btn>div,
.g-btn>div>svg {
    width: 40px !important;
    height: 38px !important;
}

/* for hide control button in number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}