.project-container {
  width: 100%;
  height: 100vh;
  margin-top: 92px;
  background-color: #fbf8f5;
}

.task-container {
  background: white;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 255px;
  /* height: 160px; */
  text-align: center;
  background: palegreen;
  color: darkblue;
  /* border: 1px solid green; */
  padding: 10px;
}
.project-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-tags-p {
  background-color: honeydew;
  border-radius: 5px;
  padding: 2px;
}

.submit-link input {
  width: 50%;
  padding: 6px;
  border: 1px solid deepskyblue;
  border-radius: 5px;
}

.submit-link button {
  color: white;
  background: green;
  border-radius: 5px;
  padding-bottom: 4px;
  cursor: pointer;
  padding: 5px;
}

/* .img-button{
    color: white;
    background: green;
    border-radius: 5px;
    padding-bottom: 4px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    width: 206px;
} */

/* .img-button:hover{
    background-color: wheat;
    border: none;
    color: black;
} */
.task_img {
  width: 500px;
  height: 500px;
  margin: 30px 30px 0px 30px;
}

.img_source{
    font-size: 8px;
    color: cadetblue;
}

.submit-link button:hover {
  background-color: wheat;
  border: none;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .task_img {
    width: 400px;
    height: 400px;
    margin: 20px 20px 0px 20px;
  }
}

@media only screen and (max-width: 960px) {
  .task_img {
    width: 320px;
    height: 320px;
    margin: 15px 15px 0px 15px;
  }
}

@media only screen and (max-width: 700px) {
  .task-container {
    margin-left: 180px;
  }
  .task_img {
    width: 260px;
    height: 260px;
    margin: 10px 10px 0px 10px;
  }
}

@media only screen and (max-width: 600px) {
  .task-container {
    margin-left: 61px;
  }
}

@media only screen and (max-width: 400px) {
    .task_img {
      width: 250px;
      height: 250px;
      margin: 10px 10px 0px 10px;
    }
  }
@media only screen and (max-width: 350px) {
    .task_img {
      width: 200px;
      height: 200px;
      margin: 10px 10px 0px 10px;
    }
  }
